{% extends "index.html" %}
{% block contenido %}
<div class="row">
	<div class="col-md-12">
		<div class="well">
			<h2 class="presentation">
				Presentación
			</h2>
			<p class="presentation"> Esta es mi adorable presentación.</p>
		</div>
	</div>
</div>
<div class="well">
	<h3 class="text-center"> Lectura obligatoria:</h3>
	<div class="row">
	{% for post in pinned_posts %}
		<div class="col-md-4">
			<h2>{{ post.title }}</h2>
			<p>{{ post.introduction }}</p>
			<p><a class="btn btn-primary" href="/posts/view/{{ post.id }}"> Seguir leyendo »</a></p>
		</div>
	{% endfor %}
	</div>
</div>
<div class="well">
	<h3 class="text-center"> Últimos posts:</h3>
	<div class="row">
	{% for post in new_posts %}
		<div class="col-md-4">
			<h2>{{ post.title }}</h2>
			<p>{{ post.introduction }}</p>
			<p><a class="btn btn-primary" href="/posts/view/{{ post.id }}"> Seguir leyendo »</a></p>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}