{% extends "index.html" %}
{% block contenido %}
<h1 class="post text-center"> Categoria {{category.name}}</h1>
{% if posts %}
	{% for post in posts %}
		<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="well">
					<h2 class="text-center">{{ post.title }}</h2>
					<p class="text-center">{{ post.introduction }}</p>
					<p><a class="btn btn-primary" href="/posts/view/{{ post.id }}"> Seguir leyendo »</a></p>
				</div>
			</div>
		<div class="col-md-2"></div>
		</div>
	{% endfor %}
{% else %}
<div class="row">
<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="well">
			<h2 class="text-center">No hay posts! :( Pronto voy a poner algo!</h2>
		</div>
	</div>
<div class="col-md-2"></div>
</div>
{% endif %}
{% endblock %}