
.post {
	color: #cccccc;
}

.presentation {
	color: black;
}

.link_a:hover {
	color: white;
}

.post_box {
	background-color: #292929;
	color: #cccccc;
}

.margin_post {
	margin: 10px;
}

a {
	color: #8FEAFF;
}

.container {
	background-color: #1f1f1f;
	-webkit-box-shadow: 10px 10px 17px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 17px -4px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 17px -4px rgba(0,0,0,0.75);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}